<p [ngClass]="curretClasses">article-list works!</p>

<p [ngStyle]="CurrentStyle">article-list works!</p>


<p appHighlight>Paragraf 3 </p>


<p [appHighlight]="'green'">Paragraf 4 </p>



<h3>Lista Dyrektyw Strukturalnych: </h3>
<ul>
  <li>
    ngIf
  </li>
  <li>
    ngFor
  </li>
  <li>
    ngSwitch
  </li>
  <li>
    ngSwitchCase
  </li>
</ul>

<div *ngIf="isActive">Widoczny kiedy ngIf = true</div>
<!-- <div [ngIf]="!isActive">Widoczny kiedy ngIf = true</div> ->
  to nie działa -->

<article *ngFor="let article of articles; let i = index; trackBy: identify">
  <h2>
    {{ article.title }}
  </h2>
  <p>
    {{ article.description }}
    index: {{ i }}
  </p>
</article>



<!-- <article *ngFor="let article of articles; let i = index; trackBy: identify">
  <div [ngSwitch]="article.type">
    <div *ngSwitchCase="'short'">
      <p style="background-color:red;font-size:25px;">To jest type short: </p>
      <h2>
        {{ article.title }}
      </h2>
      <p>
        {{ article.description }}
        index: {{ i }}
      </p>
    </div>
    <div *ngSwitchCase="'long'">
      <p style="background-color:red;font-size:25px;">To jest type long: </p>
      <h2>
        {{ article.title }}
      </h2>
      <p>
        {{ article.description }}
        index: {{ i }}
      </p>
    </div>
    <div *ngSwitchDefault>
      <p style="background-color:red;font-size:25px;">
        Przepraszamy, artykuł nie istnieje.
      </p>
    </div>
  </div>
 index: {{ i }}
</article> -->



<h2 class="article-list__heading">Poniżej zadanie z sesji Angular 9 kwietnia 2022r. </h2>

<ul class="article-list">
  <li appFontLg class="article-list__item" *ngFor="let post of postzSorted;">
    <img class="article-list__img" src="{{ post.thumbnail }}">
    <div class="article-list__content">
      <time class="article-list__date">{{ post.date }}r.</time>
      <h3 class="article-list__h3">{{ post.title }} </h3>
      <p class="article-list__p">
        {{ post.body.substring(0, 120) }}
      </p>
      <button [appArticleLength]="post.body" class="article-list__more">
        Więcej...
      </button>
    </div>
  </li>
</ul>
