.article-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.article-list__heading {
  color: orangered;
  text-decoration: underline;
}

.article-list__item {
  border: 1px solid #D3D3D3;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

.article-list__content {
  padding: 10px 20px 20px;
  text-align: center;
}

.article-list__img {
  object-fit: cover;
  height: 232px;
  width: 100%;
}

.article-list__h3 {
  font-size: 1.2rem;
}

.article-list__p {
  margin: 0;
}

.article-list__more {
  border: 3px solid #ddd;
  color: #000;
  display: block;
  font: 700 12px/14px 'Manrope', sans-serif;
  padding: 13px 60px 13px 20px;
  letter-spacing: 1px;
  box-shadow: 11px 11px 7px 0 rgb(0 0 0 / 0%);
  margin: 30px auto 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  max-width: 115px;
}

.article-list__more::after {
  top: 12px;
  left: 12px;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.25), 0 0 12px 0 rgba(0, 0, 0, 0.25);
}
