.article-list__item {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 10px 0;
}

:host {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

:host(.isActive) {
  background-color: #2fa200;
}
