
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">
      </label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
        minlength="5"
        required
      />

    <div *ngIf="signupForm.invalid && (signupForm.dirty || signupForm.touched)">
      <div *ngIf="signupForm.get('username').errors?.minlength">
        To pole nie może mieć mniej niż 5 znaków
      </div>
    </div>

  </div>
  <div class="form-group">
    <label for="email">
      <input type="email" id="email" class="form-control" formControlName="email" />
    </label>
  </div>
  <input type="submit" value="wyślij" >
</form>
